footer{
    width: 100%;
    position: absolute;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: white;
    padding: 50px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 20vh;
}
.footer-items{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.colus{
    flex-basis: 25%;
    padding: 10px;
    
}